.u-color--black-90{
    color: #152934;
}
.u-color--black-70{
    color: #8c9ba5;
}
.u-color--black-50{
    color: #dfe3e6;
}
.u-color--light-100{
    color: #ffffff;
}
.u-color--light-70{
    color: #f5f7fa;
}
.u-color--light-50{
    color: #f0f3f6;
}

.u-bgc--black-90{
    background-color: #152934;
}
.u-bgc--black-70{
    background-color: #8c9ba5;
}
.u-bgc--black-50{
    background-color: #dfe3e6;
}
.u-bgc--light-100{
    background-color: #ffffff;
}
.u-bgc--light-70{
    background-color: #f5f7fa;
}
.u-bgc--light-50{
    background-color: #f0f3f6;
}